.env
data/modules/*
!data/modules/.gitkeep
nginx/conf.d/*
!nginx/conf.d/.gitkeep
!nginx/conf.d/paths
nginx/conf.d/paths/*
!nginx/conf.d/paths/.gitkeep
node_modules/
dist/
frontend/dist/
*.tsbuildinfo
